@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;

    --font-padrao: 'Montserrat', sans-serif;
  }

*, a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

    color: var(--text-color);
    font-family: var(--font-padrao);
}



body {
    max-height: max-content;
    background: var(--body-background);
    margin: 40px auto;

    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 140px;
    padding: 0 5px;
    padding-top: 10px;

    min-width: 550px;
}

/*logo*/
header h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center; 
}

span {
    color: var(--color-logo)
}
/*fim logo*/

/*nav*/
header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--color-border);
    width: 700px;
    min-width: max-content;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
    font-weight: var(--normal);
}

header > nav > ul > li {
    color: white;
    font-style: none;
    font-size: 1.4em;
}

header > nav > button {
    font-size: .9em;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;

    color: var(--color-input);
    font-weight: var(--bold);
    text-transform: uppercase;
    transition: 2ms ease-out;

    cursor: pointer;
}

header > nav > button:hover {
    background: #ff5b50;
}
/*fim nav*/

#content-one, #content-two {
    padding: 0 40px;
    margin-bottom: 150px;
}


/* first section*/
#content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 550px;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 50px;

    width: 100%;
}

.content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.avatares {
    display: flex;
    align-items: flex-end;
}

.content> p {
    width: 400px;
}

#about > h2 {
    font-weight: bold;
    font-size: 3em;
    line-height: 60px;
    width: 400px;
    display: block;
}

/* all paragrafos*/
p {
    font-size: 1.2rem;
    line-height: 22px;
    font-weight: 400;
    font-family: var(--font-padrao);
    font-style: normal;

    text-align: justify;
}

/* galeria de fotos*/
.gallery {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    flex-basis: 1;
}

.gallery > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

}

.gallery > div > img {
    size: 100%;
    border: 1px solid white;
}
/*end first section*/

/* second section*/

#content-two {
  
}

#FAQ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 100px;
}

.text-ban > img::after {
    content: '';
    height: 5px;
    width: 100px;
    display: block;
    margin: 0 auto;
    background-color: #5a5757;
}

.number {
    flex-basis: 28%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.number ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;

    gap: 2rem;
}

.number > ul > li h3 {
    font-size: 2em;
}

.number > ul > li p {
    color: var(--subtitle-color);
    font-size: 1em;
}

.text-ban {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-left: 2px solid gray;
    flex-shrink: 2;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5px;
    padding: 50px;
}

.text > p {
   padding: 0 20px;
   margin-bottom: 20px;
}

#FAQ > img {
    width: 100%;
}

/* end FAQ section*/
/* start POPULAR section*/

#popular {
    display: flex;
    flex-direction: column;

    margin-bottom: 190px;
}

#popular > header {
    display: inline-flex;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.cont-astronautas {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.header-ata:nth-child(1)::before {
    content: '';
    height: 220px;
    width: 2px;
    background-color: #5a5757;

    position: absolute;
    right: 0;
    top: 70px;
}

.header-ata {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    height: 100px;

    margin-bottom: 15px;
    padding: 5px;
    position: relative;
}

.header-ata > h2 {
    background-image: url(../assets/arrow-white.svg);
    background-repeat: no-repeat;
    background-position: right center;
    width: 200px;
}


#best-artists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    row-gap: 30px;
}

#best-artists > header {
    margin-bottom: 90px;
}

.all-artist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 50px;
}

.all-artist:nth-child(1) {
    background-color: var(--color-logo);
}

.artistas {
    background-color: var(--card-color);
    padding: 10px;

    align-items: center;
    width: 400px;
    height: 190px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}
/* end second section*/

/* footer*/

footer {
    background-color: var(--card-color);
    display: flex;
    flex-direction: column;
}

#top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 50px;
    height: 90px;
}

#top-footer > a {
    height: 50px;
    width: 50px;
    background-image: url(../assets/arrow-black.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ff5b50;
}
/* fim top footer */

/*midle*/

#midle-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;

}

/* form*/

.content-form {
    display: flex;
    flex-direction: column;
    width: 280px;
}

#label {
    padding-bottom: 10px;
    font-size: 1.3em;
}

#email {
    height: 50px;
    width: 200px;
    background-color:var(--color-input);

    outline: none;
    border: 0;
    padding-left: 15px;
    text-align: left;
    font-size: 1rem;

}

#button {
    height: 50px;
    width: 70px;
    margin: 0;
    color: var(--black-text);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

/* end form*/

#externo > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 800px;
}

#externo > nav > ul > li {
    padding: 8px;
}


#social {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 50px;
    padding-bottom: 50px;
}

#social > ul {
    display: flex;
    gap: 30px;
}








/* animation */

/* imagem*/
.gallery img {
    transition: .5s ease-in-out;
}

.gallery img:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: none;
}

.astronautas img {
    transition: .5s ease-in-out;
}

.astronautas img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* link*/

.social-media > li:hover {
    transform: scale(1.3);
}

